body {
    font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
    margin: 0;
    padding: 0;
}

body img { border: none; }

input::-webkit-input-placeholder {
    color: silver;
    font-size: 13px;
    line-height: 18px;
}

input:-moz-placeholder {
    color: silver;
    font-size: 13px;
    line-height: 18px;
}

input::-moz-placeholder {
    color: silver;
    font-size: 13px;
    line-height: 36px;
}

input:-ms-input-placeholder {
    color: silver;
    font-size: 13px;
    line-height: 18px;
}

.nav-wrap {
    background-color: #F9F9F9;
    height: 40px;
    margin-bottom: 220px;
    padding-bottom: 10px;
    width: 100%;
}

.commonhead_line {
    min-width: 1200px;
    width: 100%;
}

.comment-header-nav {
    margin: 0 auto;
    width: 1230px;
}

.comment-header-nav .comment-header-search {
    background-color: red;
    height: 200px;
    margin-top: 10px;
}

.comment-footer {
    background-color: #F7F9FA;
    min-width: 1230px;
    overflow: hidden;
    width: 100%;
}

.comment-footer .comment-footer-about {
    background-color: #F2F2F2;
    padding: 15px 0;
    text-align: center;
}

.comment-footer .comment-footer-about a { text-decoration: none; }

.comment-footer .comment-footer-about .row { padding: 5px 0; }

.comment-footer .comment-footer-external {
    background-color: #F7F9FA;
    margin: 0 auto;
    padding-top: 30px;
    width: 1200px;
}

.comment-footer .comment-footer-external a { text-decoration: none; }

.comment-footer .comment-footer-external .active_footer { color: #333 !important; }

.comment-footer .comment-footer-external .external-header {
    margin-left: -28px;
    text-align: left;
}

.comment-footer .comment-footer-external .external-header div { padding: 15px 0; }

.comment-footer .comment-footer-external .external-header .external-header-span {
    color: #333;
    font-size: 15px;
    line-height: 17px;
}

.comment-footer .comment-footer-external .external-header span {
    color: #999;
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
    padding: 0 14px;
}

.comment-footer .comment-footer-external .external-header a {
    color: #999;
    font-size: 15px;
    line-height: 17px;
}

.comment-footer .comment-footer-external .external-centext {
    display: none;
    margin: 0 auto 0 -15px;
    padding: 10px 0;
    width: 100%;
}

.comment-footer .comment-footer-external .external-centext span {
    display: inline-block;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 104px;
}

.comment-footer .comment-footer-logo { padding-bottom: 10px; }

.comment-footer .comment-footer-logo .comment-footer-describe { padding-bottom: 20px; }

.comment-footer .comment-footer-logo .comment-footer-image { padding-bottom: 10px; }

.comment-footer .comment-footer-web span { color: #999; }

.comment-footer a {
    color: #999;
    font-size: 13px;
    line-height: 15px;
    margin: 0 10px;
    text-decoration: none;
}

.comment-footer a:hover {
    color: #00C356;
    text-decoration: none;
}

.comment-footer .comment-footer-describe span {
    color: #4a4a4a;
    font-size: 13px;
    letter-spacing: 9px;
    line-height: 15px;
    padding-left: 14px;
}

.comment-footer .comment-footer-org {
    color: #999;
    font-size: 12px;
    line-height: 14px;
}

.comment-footer .comment-footer-app {
    color: #999;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
}

.comment-header-search {
    background: #fff;
    height: 92px;
    position: relative;
    width: 100%;
}

.comment-header-search .switch-city {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(119, 119, 119, .3);
    display: none;
    height: 30px;
    left: 19%;
    line-height: 30px;
    margin-top: -38px;
    padding-top: 13px;
    position: absolute;
    top: 38%;
    width: 260px;
}

.comment-header-search .switch-city .switch-city-text {
    line-height: 5px;
    padding-left: 10px;
}

.comment-header-search .switch-city p {
    color: #999;
    font-size: 13px;
}

.comment-header-search .switch-city p a {
    color: #00C356;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min: 1600px) {
    .comment-header-search .switch-city .switch-city-text { line-height: 0; }
}

.comment-header-search .switch-city .switch-city-horn {
    -webkit-transform: rotate(138deg);
    background-color: #fff;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 1px solid rgba(119, 119, 119, .3);
    border-top: 1px solid rgba(119, 119, 119, .3);
    height: 5px;
    left: 51px;
    margin: 50px auto 0;
    position: absolute;
    top: -22px;
    transform: rotate(138deg);
    width: 5px;
}

@media screen and (max-width: 1600px) {
    .comment-header-search .switch-city .switch-city-horn { left: 42%; }
}

.comment-header-search .comment-header-search-logo {
    margin-top: -25px;
    position: absolute;
    top: 50%;
}

.comment-header-search .comment-header-search-logo img {
    height: 54px;
    width: 207px;
}

@media screen and (max-width: 1500px) {
    .comment-header-search .switch-city { left: 12%; }
}

.comment-header-search .comment-header-search-position {
    left: 19%;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.comment-header-search .comment-header-search-position .LocationTargetSpan {
    background: url(http://img.58cdn.com.cn/dist/jxedt/pc/products/jxdetail/images/s.png) 0 -101px no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 20px;
    width: 28px;
}

.comment-header-search .comment-header-search-position a {
    font-size: 14px;
    position: relative;
    top: -5px;
}

.comment-header-search .comment-header-search-position .info {
    background-color: #fff;
    border: 1px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(119, 119, 119, .3);
    display: none;
    line-height: 40px;
    margin-top: 8px;
    position: relative;
    right: 226px;
    top: 10px;
    z-index: 888;
}

.comment-header-search .comment-header-search-position .info .active { color: #00C356 !important; }

.comment-header-search .comment-header-search-position .info span {
    color: #666;
    font-size: 14px;
}

.comment-header-search .comment-header-search-position .info .info-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.comment-header-search .comment-header-search-position .info .info-type {
    border-bottom: 1px solid #EEE;
    margin: 10px 5% 0;
    width: 90%;
}

.comment-header-search .comment-header-search-position .info .info-type a {
    color: #999;
    font-size: 12px;
    line-height: 14px;
    padding: 0 20px;
}

.comment-header-search .comment-header-search-position .info .info-city-list {
    max-height: 450px;
    padding: 10px 10px 0 30px;
}

.comment-header-search .comment-header-search-position .info .info-city-list a {
    color: #999;
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    top: 0;
    white-space: nowrap;
}

.comment-header-search .comment-header-search-position .info .info-city-list .info-initials-city {
    height: 200px;
    overflow: auto;
}

.comment-header-search .comment-header-search-position .info .info-city-list .info-initials-city .info-initials-item { overflow: hidden; }

.comment-header-search .comment-header-search-position .info .info-city-list .info-initials-city .info-initials-item .city-span {
    display: inline-block;
    width: 9px;
}

.comment-header-search .comment-header-search-position .info .info-city-list .info-initials-city .info-initials-item .info-city-a {
    float: right;
    width: 545px;
    width: 469px\9;
}

.comment-header-search .comment-header-search-position .info .info-city-list .info-initials-city .info-initials-item .info-city-a a { display: inline-block; }

.comment-header-search .comment-header-search-position .info .info-city-list a:hover { color: #00C356; }

@media screen and (min-width: 1700px) {
    .comment-header-search .comment-header-search-position .info {
        right: 242px;
        top: 10px;
    }
}

.comment-header-search .comment-header-search-position .nav {
    border-style: solid dashed dashed;
    border-width: 10px;
    height: 0;
    left: 288px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.comment-header-search .comment-header-search-position .nav-border {
    border-color: transparent transparent rgba(119, 119, 119, .3);
    top: -20px;
}

.comment-header-search .comment-header-search-position .nav-background {
    border-color: transparent transparent #FFF;
    top: -19px;
}

.comment-header-search .comment-header-search-position .comment-header-search-position-img {
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.comment-header-search .comment-header-search-position .comment-header-search-position-city {
    height: 8px;
    width: 12px;
}

.comment-header-search .comment-header-search-position a {
    color: #666;
    text-decoration: none;
}

.comment-header-search .comment-header-search-position a:hover { color: #00c356; }

@media screen and (max-width: 1600px) {
    .comment-header-search .nav-border { right: 272px; }
}

@media screen and (min-width: 1800px) {
    .comment-header-search .comment-header-search-position { left: 21%; }
}

.comment-header-search .comment-header-search-text {
    left: 680px;
    margin-top: -15px;
    padding-left: 64px;
    position: absolute;
    top: 50%;
    width: auto;
}

.comment-header-search .comment-header-search-text .search-content-toggle {
    left: 39px;
    list-style: none;
    margin-left: 38px;
    position: absolute;
    top: 8px;
}

.comment-header-search .comment-header-search-text .search-content-toggle a {
    color: #666;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

.comment-header-search .comment-header-search-text .search-content-toggle .dropdown-menu li:hover, .comment-header-search .comment-header-search-text .search-content-toggle a:hover { color: #00c356; }

.comment-header-search .comment-header-search-text .search-content-toggle a .caret { margin-left: 2px; }

.comment-header-search .comment-header-search-text .search-content-toggle .down {
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #D8D8D8;
    display: block;
    height: 0;
    left: 68px;
    margin-left: -38px;
    position: absolute;
    top: 9px;
    width: 0;
}

.comment-header-search .comment-header-search-text .search-content-toggle .dropdown-menu {
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(153, 153, 153, .3);
    display: none;
    height: 140px;
    left: -13px;
    list-style: none;
    max-width: 70px;
    min-width: 70px;
    padding: 0;
    position: absolute;
    top: 30px;
    z-index: 999;
}

.comment-header-search .comment-header-search-text .search-content-toggle .dropdown-menu li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    text-align: center;
}

.comment-header-search .comment-header-search-text .comment-header-search-btn {
    background: #00c356;
    border-radius: 0 3px 3px 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: -1px 0 0 -5px;
    text-align: center;
    width: 60px;
}

.comment-header-search .comment-header-search-text .search-content {
    background: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 3px 0 0 3px;
    height: 36px;
    padding-left: 60px;
    position: relative;
    width: 400px;
}

.comment-header-search .comment-header-search-text input::-webkit-input-placeholder {
    color: silver;
    font-size: 12px;
    line-height: 14px;
}

.comment-header-search .comment-header-search-text input::-moz-input-placeholder {
    color: silver;
    font-size: 12px;
    line-height: 14px;
}

.comment-header-search .comment-header-search-text input::-ms-input-placeholder {
    color: silver;
    font-size: 12px;
    line-height: 14px;
}

.comment-header-search .comment-header-search-text input:focus {
    background-color: transparent;
    outline: 0;
}

.comment-header-search .comment-header-search-text input::selection { background: 0 0; }

.comment-header-search .comment-header-search-text input::-moz-selection { background: 0 0; }

.comment-header-search .comment-header-search-text .navbar-nav {
    left: 16px;
    position: absolute;
    top: 0;
}

.comment-header-search .comment-header-search-text .navbar-nav li a {
    background-color: none;
    color: #666;
    padding: 8px;
}

.comment-header-search .comment-header-search-text .navbar-nav li a:hover {
    background-color: none;
    color: #00c356;
}

.comment-header-contact {
    background: #F9F9F9;
    height: 40px;
    line-height: 40px;
    padding-right: 19px;
    width: 100%;
}

.comment-header-contact .comment-header-right {
    float: right;
    padding-right: 8px;
}

.comment-header-contact .comment-header-left, .question .question_list ul li { float: left; }

.comment-header-contact .comment-header-left .VTargetSpan {
    background: url(http://img.58cdn.com.cn/dist/jxedt/pc/products/jxdetail/images/s.png) 0 -20px no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 14px;
    width: 27px;
}

.comment-header-contact .comment-header-left .comment-login-1 { margin-left: 20px; }

.comment-header-contact .comment-header-left .comment-login-1 .btn-span { margin: 10px; }

.comment-header-contact .comment-header-left .comment-login-1 .btn-span a {
    color: #00c356;
    font-size: 14px;
    text-decoration: none;
}

.comment-header-contact .comment-header-left .comment-login-2 { padding-right: 10px; }

.comment-header-contact .comment-header-left .comment-login-2 .comment-phone a {
    color: #00c356;
    font-size: 14px;
    text-decoration: none;
}

.comment-header-contact .comment-header-left .comment-login-2 .comment-out a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

.comment-header-contact .comment-header-phone { color: #00C356; }

.comment-header-contact .btn {
    background-color: #F9F9F9;
    border: 1px solid #00c356;
    color: #00c356;
    font-size: 14px;
    line-height: 16px;
}

.comment-header-contact .comment-header-phone-img {
    height: 14px;
    vertical-align: middle;
    width: 8px;
}

.comment-header-contact .comment-header-app {
    color: #666;
    display: inline-block;
    font-size: 14px;
    position: relative;
    text-align: center;
    width: 78px;
}

.comment-header-contact .comment-header-app .down-popup {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
    display: none;
    height: 76px;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 80px;
    z-index: 9999;
}

.comment-header-contact .comment-header-app .down-popup li {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    height: 20px;
    line-height: 20px;
    margin: 10px 0;
    padding: 0;
    text-decoration: none;
}

.comment-header-contact .comment-header-app .down-popup li a {
    color: #999;
    font-size: 12px;
}

.comment-header-contact .comment-header-app .down-popup li a:hover { color: #00c356; }

.comment-header-contact .comment-header-app:hover {
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
    color: #00c356;
}

.comment-header-contact .comment-header-app:hover .down-popup { display: inline-block; }

.comment-header-contact .right-text {
    color: #00c356;
    font-size: 14px;
    margin: 10px;
    text-decoration: none;
}

.comment-header-contact .comment-header-phone-img + span {
    color: #666;
    font-size: 13px;
    line-height: 18px;
    padding-right: 10px;
}

.comment-header-contact .comment-header-vip-img {
    height: 10px;
    width: 13px;
}

.comment-header-contact .comment-header-vip-describe {
    line-height: 15px;
    padding-right: 10px;
    text-decoration: none;
}

.comment-header-contact .comment-header-vip-describe a {
    color: #666;
    font-size: 13px;
    text-decoration: none;
}

.comment-header-contact .comment-header-vip-describe a:hover { color: #00c356; }

.comment-header-contact .comment-header-phone-describe {
    color: #999;
    font-size: 13px;
    line-height: 18px;
}

.comment-header-menu {
    margin: 0;
    min-width: 1200px;
    padding: 0;
}

.comment-header-menu .comment-header-menu-ul {
    margin-left: 0;
    padding: 25px 0 0;
    width: 100%;
}

.comment-header-menu .comment-header-menu-ul .start-menu { padding: 0 50px 0 4px; }

.comment-header-menu .comment-header-menu-ul li:last-child { padding-right: 0; }

.comment-header-menu .comment-header-menu-ul li {
    float: left;
    list-style: none;
    padding: 0 48px;
}

.comment-header-menu .comment-header-menu-ul li a {
    color: #4a4a4a;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.comment-header-menu .comment-header-menu-ul li a:hover {
    color: #00c356;
    font-size: 16px;
    line-height: 18px;
}

.comment-header-menu .comment-header-menu-ul .header-menu-dropdown {
    padding-bottom: 20px;
    position: relative;
}

.comment-header-menu .comment-header-menu-ul .header-menu-dropdown .down {
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #D8D8D8;
    display: block;
    height: 0;
    left: 118px;
    position: absolute;
    top: 9px;
    width: 0;
}

.comment-header-menu .comment-header-menu-ul .header-menu-dropdown:hover .header-menu-dropdown-content { display: block; }

.comment-header-menu .comment-header-menu-ul .header-menu-dropdown .header-menu-dropdown-content {
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(153, 153, 153, .3);
    display: none;
    height: 256px;
    left: 37px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100px;
    z-index: 999;
}

.comment-header-menu .comment-header-menu-ul .header-menu-dropdown .header-menu-dropdown-content a {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 0;
}

.comment-header-menu .comment-header-menu-ul .header-menu-dropdown .header-menu-dropdown-content p {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 10px 0;
}

.question {
    display: inline-block;
    margin-left: 450px;
    margin-top: 37px;
    position: relative;
}

.question .question_title {
    color: #666;
    font-size: 14px;
    padding-bottom: 20px;
}

.question .comment-header-car:hover {
    color: #00C356;
    cursor: pointer;
}

.question .question_list {
    background-color: #fff;
    border: 1px solid #EEE;
    box-shadow: 0 0 6px 0 rgba(119, 119, 119, .3);
    display: none;
    height: 180px;
    position: absolute;
    text-align: left;
    width: 370px;
    z-index: 999;
}

.question .question_list ul {
    list-style: none;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 30px;
}

.question .question_list ul li .question-active { color: #00C356; }

.question .question_list ul li div, .question .question_list ul li span {
    color: #666;
    font-size: 14px;
}

.question .question_list ul li div {
    height: 100px;
    padding-top: 1px;
    width: 56px;
}

.question .question_list ul li a {
    color: #999;
    font-size: 13px;
    text-decoration: none;
}

.question .question_list ul li a:hover { color: #00c356; }

.question .question_list .qualifi_card li { line-height: 35px; }

.question .question_list .qualifi_card li a { margin-right: 43px; }

.question .question_list .drive_card { margin-top: 25px; }

.question .question_list .drive_card li a { margin-right: 41px; }

.question .question_list .drive_card li:last-child a { margin-right: 0; }